header {
  background-color: $black;
  padding: 25px 10px;
}

nav {
  display: flex;
  justify-content: end;
}

ul {
  @include reset-list;
  display: flex;
}

li {
  transition-duration: 0.1s;
  cursor: pointer;
  padding-left: 10px;

  &:hover {
    transform: scale(1.1);
  }
}

.navlink {
  text-decoration: none;
  color: $textGrey;

  &:hover {
    color: $textPrimary;
  }
}
