.input-container {
  input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $borderGrey; /* Adding a light border */
    border-radius: 5px;
    background-color: $bgLightWhite;
    transition: all 0.3s ease; /* Smooth transition for focus effect */
  }

  input:focus {
    border-color: $accentColor; /* Highlight the border when focused */
    outline: none; /* Remove default outline */
    background-color: $bgWhite; /* Change background on focus */
  }
}
