.button-container {
  button {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: $accentColor;
    color: $textPrimary;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: $accentColorDarker; /* Darken button on hover */
  }

  button:focus {
    outline: none; /* Remove focus outline on the button */
  }
}
