$bgDark: #1f1e1f;
$bgWhite: #ffffff;
$bgLightWhite: #f9f9f9;

$black: #000101;

$textPrimary: #fefeff;
$textGrey: #b3b3b3;
$textDarkGrey: #555;

$accentColor: #ff9900;
$accentColorDarker: #e68a00;

$borderGrey: #ccc;
