.a-container {
  margin: 5px;

  a {
    display: flex;
    justify-content: center;
    color: $accentColor; /* Set the text color to match the button */
    text-decoration: none; /* Remove underline */
    font-size: 14px;
    text-align: center;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }

  a:hover {
    color: $accentColorDarker; /* Darken the color on hover */
  }
}

.button-container {
  button {
    margin: 12px 0;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: $accentColor;
    color: $textPrimary;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) {
      font-size: 17px;
      padding: 11px;
      margin: 11px 0;
    }

    @media (max-width: 480px) {
      font-size: 16px;
      padding: 10px;
      margin: 10px 0;
    }
  }

  button:hover {
    background-color: $accentColorDarker; /* Darken button on hover */
  }

  button:focus {
    outline: none; /* Remove focus outline on the button */
  }
}

.input-container {
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid $borderGrey; /* Adding a light border */
    border-radius: 5px;
    background-color: $bgLightWhite;
    transition: all 0.3s ease; /* Smooth transition for focus effect */
  }

  input:focus {
    border-color: $accentColor; /* Highlight the border when focused */
    outline: none; /* Remove default outline */
    background-color: $bgWhite; /* Change background on focus */
  }
  .error-container {
    color: red;
    padding-bottom: 8px;
  }
  .input-error {
    border-color: red;
    border-radius: 5px;

    &:focus {
      border-color: red; /* Highlight the border when focused */
    }
  }
}

.label-container {
  margin: 8px 0;
  font-size: 16px;
  color: $textDarkGrey; /* Slightly lighter text color */
}
