@mixin on-thumb-hover {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@mixin thumb-style {
  height: 14px;
  width: 16px;
  background: $accentColor;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@mixin track-style {
  cursor: pointer;
  background: linear-gradient(
    to right,
    $accentColorDarker 0%,
    $accentColorDarker var(--progress, 0%),
    $bgGrey var(--progress, 0%),
    $bgGrey 100%
  );
  height: 6px;
  border-radius: 3px;
}

.audio-player {
  position: absolute;
  bottom: 0;
  background-color: $black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 70px;
    height: 70px;
    margin: 10px;
    padding: 0;
    border-radius: 5px;
  }
  .song-info,
  .audio-controls,
  .song-time {
    flex: 1;
  }
  .song-info {
    display: flex;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-self: flex-start;
      .song-title {
        margin: 0;
        font-size: 14px;
        color: $textPrimary;
        font-family: "circular-light";
      }
      .song-artist {
        margin: 0;
        font-size: 12px;
        color: $textGrey;
        font-family: "circular-light";
      }
    }
  }

  .audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      .previous-button,
      .next-button {
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: $iconGrey;
        transition-duration: 0.2s;
        &:hover {
          color: $iconWhite;
          transform: scale(1.05);
        }
      }
      .play-pause-button {
        width: 32px;
        height: 32px;
        margin: 0 20px;
        cursor: pointer;
        color: $iconWhite;
        transition-duration: 0.2s;
        &:hover {
          color: $iconGrey;
          transform: scale(1.05);
        }
      }
    }
    .slider {
      width: 100%;
      .audio-slider {
        -webkit-appearance: none;
        width: 100%;
        outline: none;
        accent-color: $accentColor;
        @include track-style;

        &::-webkit-slider-runnable-track {
          @include track-style;
        }

        &::-moz-range-track {
          @include track-style;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          margin-top: -4px;
          @include thumb-style;
        }

        &:hover::-webkit-slider-thumb {
          @include on-thumb-hover;
        }

        &:focus::-webkit-slider-thumb {
          @include on-thumb-hover;
        }

        &::-moz-range-thumb {
          @include thumb-style;
        }

        &:hover::-moz-range-thumb {
          @include on-thumb-hover;
        }

        &:focus::-moz-range-thumb {
          @include on-thumb-hover;
        }
      }
    }
  }

  .song-time {
    display: flex;
    justify-content: end;
    padding: 10px;

    div {
      display: flex;
      align-items: center;

      .volume-icon {
        color: $iconGrey;
      }
      .volume-slider {
        -webkit-appearance: none;
        height: 6px;
        background: linear-gradient(
          to right,
          $accentColorDarker 0%,
          $accentColorDarker var(--volume, 100%),
          $bgGrey var(--volume, 0%),
          $bgGrey 100%
        );
        border-radius: 3px;
        outline: none;
        margin-left: 10px;
        accent-color: $accentColorDarker;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
          background: linear-gradient(
            to right,
            $accentColorDarker 0%,
            $accentColorDarker var(--volume, 100%),
            $bgGrey var(--volume, 0%),
            $bgGrey 100%
          );
          height: 6px;
          border-radius: 3px;
        }

        &::-moz-range-track {
          background: linear-gradient(
            to right,
            $accentColorDarker 0%,
            $accentColorDarker var(--volume, 100%),
            $bgGrey var(--volume, 0%),
            $bgGrey 100%
          );
          height: 6px;
          border-radius: 3px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          margin-top: -4px;
          @include thumb-style;
        }

        &:hover::-webkit-slider-thumb {
          @include on-thumb-hover;
        }

        &:focus::-webkit-slider-thumb {
          @include on-thumb-hover;
        }

        &::-moz-range-thumb {
          @include thumb-style;
        }

        &:hover::-moz-range-thumb {
          @include on-thumb-hover;
        }

        &:focus::-moz-range-thumb {
          @include on-thumb-hover;
        }
      }

      .song-time {
        color: $textGrey;
        width: 8ch;
        white-space: nowrap;
      }
    }
  }
}
